.container{

    .linha{
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .item{
        height: 100%;
    }
    .ofertas{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 1rem;
        .title{
            width: 100%;
            display: flex;
            align-items: center;
        }
        .produtos{
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            .produto{
                min-width: 15rem;
            }
        }
        h2{
            margin-right: 1rem;
        }
        a{
            text-decoration: none;
        }
    }
    .categorias{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
        h3{
            width: 100%;
        }
        .icones{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
            .categoria{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                min-width: 12rem;
                @media(max-width: 440px){
                    width: 100%;
                }
                img{
                    width: clamp(64px, 8vw, 128px);
                    height: auto;
                }
                p{
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }

    }
}
